body{
background-color: rosybrown;
font-family: Arial, sans-serif;
}

.business-card{
  width: 300px;
  background-color: rgb(207,198,
  198);
  padding: 20px;
  text-align:center;
  font-size:16px;
  margin:100px auto 0 auto;
}
.profile-image{
  max-width: 100%;
}
a{
text-decoration: none;
}  
p{
  margin-top: 5px;
  margin-bottom: 5px;
}